<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="globe"></ion-icon>
      Gator Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-start">
    <h3>Welcome to Gator Events</h3>
    <h5>Find out about events going on all over campus. Use the 'Filter' button to narrow your selection.</h5>
  </div>
  <ion-button expand="full" color="primary" (click)="presentModal()">Filter Options</ion-button>
  <p *ngIf="dataReturned">{{dataReturned}}</p>
  
  <ion-searchbar animated value="Search by name or tag"></ion-searchbar>
  <ion-list>
      <ion-item detail="true" lines="inset" button="true" *ngFor="let item of events">
        <!-- <ion-item lines= "inset" button [routerLink]="['/details', item.id]"> -->
          <ion-label>
            <div class="info">{{ item.organization }} | {{item.datentime}} | {{item.location}}</div>
            <div class="event-title">{{ item.name }}</div>
            <!-- <ion-chip color="secondary" outline="true">
              <ion-icon name="code-working" color="secondary"></ion-icon>
              <ion-label>Computer Science</ion-label>
            </ion-chip> -->
            <p>{{item.details}}</p>
          </ion-label>
      </ion-item>
    
        <ion-item-options side="end">
          <!-- <ion-item-option (click)="remove(item)" color=secondary> -->
          <ion-item-option color=secondary>
            Check
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options> 
    </ion-list>

  <!-- <ion-card button="true">
      <ion-card-header>
        <div class="datetime">Women in Computer Science and Engineering    |   CSE404    |   09/27/2019  |   6:00 PM</div>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Mentorship Meet and Greet</ion-card-title>
        <p>
          Come meet club officers and make some new friends, with food provided! 
        </p>
        <ion-chip color="secondary" outline="true">
          <ion-icon name="code-working" color="secondary"></ion-icon>
          <ion-label>Computer Science</ion-label>
        </ion-chip>
      </ion-card-content>
  </ion-card>
  <ion-card button="true">
      <ion-card-header>
          <div class="datetime">Gator Anime Club    |   CSE212    |   10/03/2019  |   7:00 PM</div>      
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Gator Anime Club Meeting</ion-card-title>
        <p>

        </p>
        <p>
          Come watch our weekly shows and learn some things about Japan! 
        </p>
        <ion-chip color="primary" outline="true">
          <ion-icon name="tv" color="primary"></ion-icon>
          <ion-label>Anime</ion-label>
        </ion-chip>
      </ion-card-content>
  </ion-card>
  <ion-card button="true">
      <ion-card-header>
          <div class="datetime">UF Software Engineering Club    |   NEB0111    |   10/02/2019  |   5:00 PM</div>      
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>GBM #3 - Angular and Cordova Demystified</ion-card-title>
        <p>

        </p>
        <p>
          Learn some things about the Angular framework, and how Cordova can make your life way easier
        </p>
        <ion-chip color="secondary" outline="true">
          <ion-icon name="code-working" color="secondary"></ion-icon>
          <ion-label>Computer Science</ion-label>
        </ion-chip>
      </ion-card-content>
  </ion-card>
  <ion-card button="true">
    <ion-card-header>
      <div class="datetime">Women in Computer Science and Engineering    |   CSE404    |   10/27/2019  |   7:00 PM</div>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>GBM #3 - Web Hacking</ion-card-title>
      <p>
        Come out and learn how to hack with our friends from UFSIT. Food is provided! 
      </p>
      <ion-chip color="secondary" outline="true">
        <ion-icon name="code-working" color="secondary"></ion-icon>
        <ion-label>Computer Science</ion-label>
      </ion-chip>
    </ion-card-content>
</ion-card>
<ion-card button="true">
    <ion-card-header>
        <div class="datetime">Gator Anime Club    |   CSE212    |   10/03/2019  |   7:00 PM</div>      
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Gator Anime Club Meeting</ion-card-title>
      <p>

      </p>
      <p>
        Come watch our weekly shows and learn some things about Japan! 
      </p>
      <ion-chip color="primary" outline="true">
        <ion-icon name="tv" color="primary"></ion-icon>
        <ion-label>Anime</ion-label>
      </ion-chip>
    </ion-card-content>
</ion-card>
<ion-card button="true">
    <ion-card-header>
        <div class="datetime">UF Software Engineering Club    |   NEB0111    |   10/02/2019  |   5:00 PM</div>      
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>GBM #3 - Angular and Cordova Demystified</ion-card-title>
      <p>

      </p>
      <p>
        Learn some things about the Angular framework, and how Cordova can make your life way easier
      </p>
      <ion-chip color="secondary" outline="true">
        <ion-icon name="code-working" color="secondary"></ion-icon>
        <ion-label>Computer Science</ion-label>
      </ion-chip>
    </ion-card-content>
</ion-card> -->


  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of events">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list>
    <ion-item button="true" detail>
      <ion-label>
        Beginning of the Semester Meet and Greet
      </ion-label>
      <div class="item-note" slot="end">
        Come meet our officers, have some good food, and make some even better friends!
      </div>
    </ion-item>
    <ion-item color="primary" button="true" lines="inline" detail>
      <ion-row>
      <h6>
        Women in Computer Science and Engineering (WiCSE)
      </h6>
      </ion-row>
      <ion-row>
      <h5>
        Beginning of the Semester Meet and Greet
      </h5>
      </ion-row>
      <div class="item-note" slot="end">
        Tue, Oct 18th, 2019 7:00 PM   
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Select</ion-label>
      <ion-select>
        <ion-select-option value="">No Game Console</ion-select-option>
        <ion-select-option value="nes">NES</ion-select-option>
        <ion-select-option value="n64" selected>Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
        <ion-select-option value="genesis">Sega Genesis</ion-select-option>
        <ion-select-option value="saturn">Sega Saturn</ion-select-option>
        <ion-select-option value="snes">SNES</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->
</ion-content>

<!-- <ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content> -->
