.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.datetime {
  font-weight: bold;
  margin: auto;
  padding-top: 5px;
}

.ion-text-start {
  align-content: center;
  padding: 20px;
}

.event-org {
  position: absolute;
  top: 10pt;
  left: 0pt;
  font-size: 10pt;
}

.event-title {
  font-size: 13pt;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-note {
  padding-right: 10px;
}

.info {
  // color: #1f1f1fc4;
  color: #3880ff;
  font-weight: bold;
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

.radio-button-on {
  padding: 20px;
}